html {
  font-size: 16px;
}

body {
  font-family: 'Work Sans', sans-serif;
}

.top-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  font-family: 'Space Mono', sans-serif;
  font-size: 2.25rem;
  margin-right: 1rem;
  white-space: nowrap;
}

.location {
  display: flex;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
}

.city {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social a {
  font-size: 1.125rem;
  color: #ffa7b6;
  margin: 0 0.75rem;
}

.social a:hover,
.social a:focus,
.social a:active {
  text-decoration: none;
  font-weight: bold;
}

.space {
  margin-top: 6rem;
  padding-right: 8rem;
}

.intro {
  font-size: 4rem;
}

.intro a{
  color: #ffa7b6;
}

.projects a:hover {
  text-decoration: none;
  font-weight: bold;
}

.skills,
.projects {
  margin-top: 2.5rem;
  font-size: 1.5rem;
}

.projects a {
  color: #ffa7b6;
}

.last {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 1000px) {
  .top-container {
    flex-direction: column;
    justify-content: center;
  }

  .top-container>* {
    margin: 0.5rem 0;
  }

  .header {
    padding: 0;
  }

  .social {
    text-align: center;
  }

  .space {
    margin-top: 2rem;
    padding-right: 2rem;
  }

  .intro {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 575px) {
  .header {
    flex-wrap: wrap;
  }

  .space {
    padding-right: 1rem;
  }
}
